.place{
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: auto;
    gap: 48px 40px;
    padding-top: 80px;
}
.place:first-child{
    padding-top: 0;
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px auto;
        grid-template-rows: auto;
        gap: 48px 32px;
    }
}
@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px auto;
        grid-template-rows: auto;
        gap: 48px 28px;
        padding-top: 73px;
    }
}
@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(auto, 320px));
        grid-template-rows: auto;
        gap: 32px;
        padding-top: 50px;
        
    }
    .place:last-child{
        padding-top: 75px;
    }
    
}
