.cover__title{
    max-width: 560px;
    color: #fff;
    text-decoration: none;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    z-index: 1;
    text-rendering: optimizeLegibility;
    margin: 0;
}
@media  screen and (max-width: 425px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
    
}